#root {
	background-color: #CCCCCC;
	position: absolute;
	width: 100%;
	min-width: 1275px;  
	padding-left: 40px;
	padding-top: 20px;
}

.tab-pane{
	
}

span.stepDisplay{
	position: absolute;
	left: 30px;
}

span.pcDisplay{
	position: absolute;
	left: 70px;
}

span.opDisplay{
	position: absolute;
	left: 130px;
}

span.paraDisplay{
	position: absolute;
	left: 160px;
}

span.acDisplay{
	position: absolute;
	left: 200px;
}

span.regDisplay{
	position: absolute;
	left: 290px;
}
